$blog-item-footer-bg:$white;
$blog-link-color:$gray-900;
$about-search-border:1px solid $gray-900;
$about-search-icon-color:$gray-900;
.lead-section{
    margin-bottom: 91px;
}

.about-section{
    
    
    
    
    .about-section-item{
        h2{
            font-size: 44px;
            line-height: 5rem;
            max-width: 50%;
           padding-bottom: 30px;
           padding-right: 50px;
           text-align: left;
        }
        img{
            margin-bottom: 50px;
        }
        .about-section-content{
            font-weight: $font-weight-light;
            font-size: 20px;
            line-height: 2.8rem;
            text-align: left;
            margin-bottom: 30px;
        }
            
      
    }
    
    .search-form{
        margin-bottom: 20px;
        .form-control{
            border:$about-search-border;
            padding:30px;
            font-size: 20px;
            font-style: italic;
        }
        span{
             border:$about-search-border;
             padding-left: 20px;
             font-size: 20px;
           color:lighten($about-search-icon-color,40%);
            
        }
    }
    
    .about-news-item{
        margin-bottom: 100px;

        }
        .blog-item-footer{
            background-color: $blog-item-footer-bg;
            width: 90%;
            top:75%;
       padding: 20px 17px 57px 17px;
           
           .blog-item-date{
               font-family: $bodoni;
               text-align: center;
               font-style: italic;
               margin-bottom: 15px;
           }
           .blog-item-link{
               text-transform: uppercase;
               line-height: 24px;
               text-decoration: none;
             
               a{
                   color:$blog-link-color;
                 
               }
           }
        }
    }

