$social-color:$pink;
$social-link-color:$gray-900;

footer{
    padding:50px 0;
    
    .social{
        a{
          color:  $social-color;
          font-size: 2.3rem;
          transition: 1s linear;
          margin: 19px 15px;
          
          &:hover{
              transform: rotate(360deg);
          }
        }
    }
    
    .copyright{
        color:$lato;
        font-size: 1.2rem;
        font-weight: $font-weight-normal;
        line-height: 4.1rem;
        a{
            color:$social-link-color;
            font-family: $lato;
        }
    }
}