$lead-section-title-color: $white;
$lead-section-link-border: 1px solid $white;
.lead-section{
    padding-top: 85px;

    .lead-section-image{
        .lead-section-title{
            letter-spacing: 9px;
            z-index: 20px;
            color:$lead-section-title-color;

        }
        a{

            text-decoration: none;
            color:$white;
            border: $lead-section-link-border;
            padding: 7px 20px;

        }

    }
    //lead section image end
}
//lead section end

@media(min-width:768px){
    .lead-section{


        .lead-section-image{
            .lead-section-title{
                letter-spacing: 20px;
                font-size: 6rem;
            }
        }
        //lead section-image end
    }
    //lead section end
}