$single-service-p-weight: $font-weight-light;
.single-service-section{
    padding: 120px 0;
    h2{
        font-size: 44px;
        line-height: 50px;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    p{
        font-weight: $single-service-p-weight;
    }
}
