$single-service-p-weight: $font-weight-light;
.single-service-section{
    padding-top: 120px;
    
    .single-service-item{
        padding: 20px 10px;
          h2{
        font-size: 44px;
        line-height: 50px;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 25px;
   
    }
    p{
        font-weight: $single-service-p-weight;
    }
    }
  
}
